@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
:root {
  --VeryDarkGrayishBlue: hsl(217, 19%, 35%);
  --DesaturatedDarkBlue: hsl(214, 17%, 51%);
  --GrayishBlue: hsl(212, 23%, 69%);
  --LightGrayishBlue: hsl(210, 46%, 95%);
  --White: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: middle;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Manrope", sans-serif;
  font-size: 13px;
  background-color: var(--LightGrayishBlue);
  position: relative;
  overflow-x: hidden;
}

main {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.container-card {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.container-card .wrapper-card {
  width: 300px;
  margin: 1rem auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  gap: 2.5rem 0;
  background-color: var(--White);
  border-radius: 1rem;
  overflow: hidden;
}

.container-img-card {
  width: 100%;
}

.container-img-card img {
  width: 100%;
}

.container-middle {
  padding: 0 1.2rem 1rem 1.2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  gap: 1rem 0;
  position: relative;
}

.container-middle .title h1 {
  font-size: 1.2em;
  color: var(--VeryDarkGrayishBlue);
}

.container-middle .desc {
  padding: 0 0.4rem 0 0;
}

.container-middle .desc p {
  line-height: 1.4rem;
  color: var(--DesaturatedDarkBlue);
}

.container-middle .container-bottom {
  margin: 1rem 0 0 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (max-content)[2];
      grid-template-columns: repeat(2, -webkit-max-content);
      grid-template-columns: repeat(2, max-content);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-middle .container-bottom .left {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50px 1fr;
      grid-template-columns: 50px 1fr;
  gap: 0 1.4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-middle .container-bottom .left .picture {
  width: 100%;
}

.container-middle .container-bottom .left .picture img {
  width: 100%;
  border-radius: 50%;
}

.container-middle .container-bottom .left .bio {
  line-height: 1.3rem;
}

.container-middle .container-bottom .left .bio p.name {
  font-weight: 700;
  letter-spacing: 0.02rem;
}

.container-middle .container-bottom .left .bio p.dob {
  color: var(--DesaturatedDarkBlue);
  letter-spacing: 0.02rem;
}

.container-middle .container-bottom .right {
  width: 30px;
  height: 30px;
  background-color: var(--LightGrayishBlue);
  border-radius: 50%;
  cursor: pointer;
}

.container-middle .container-bottom .right .container-ic-share {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-middle .container-bottom .right .container-ic-share img {
  width: 50%;
  height: 50%;
}

.container-middle .container-bottom .container-shared.active {
  display: none;
}

.container-middle .container-bottom .container-shared .hidden {
  width: 300px;
  height: 80px;
  padding: 1rem 1.2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr max-content;
      grid-template-columns: 1fr -webkit-max-content;
      grid-template-columns: 1fr max-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--VeryDarkGrayishBlue);
}

.container-middle .container-bottom .container-shared .hidden .container-left {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content max-content;
      grid-template-columns: -webkit-max-content -webkit-max-content;
      grid-template-columns: max-content max-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 1.2rem;
}

.container-middle .container-bottom .container-shared .hidden .container-left .share p {
  font-size: 1em;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  color: var(--GrayishBlue);
}

.container-middle .container-bottom .container-shared .hidden .container-left .social-media .twitter {
  margin: 0 0.5rem;
}

.container-middle .container-bottom .container-shared .hidden .container-right {
  width: 30px;
  height: 30px;
  background-color: var(--LightGrayishBlue);
  border-radius: 50%;
  cursor: pointer;
}

.container-middle .container-bottom .container-shared .hidden .container-right .container-ic-share {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-middle .container-bottom .container-shared .hidden .container-right .container-ic-share img {
  width: 50%;
  height: 50%;
}

@media only screen and (min-width: 375px) {
  main .container-card .wrapper-card {
    width: 350px;
  }
  main .container-card .wrapper-card .container-middle {
    padding: 0 2rem 1rem 2rem;
  }
  main .container-card .wrapper-card .container-middle .title h1 {
    font-size: 1.4em;
  }
  main .container-card .wrapper-card .container-middle .desc p {
    font-size: 1.09em;
    line-height: 1.4rem;
  }
  main .container-card .wrapper-card .container-middle .container-bottom .left .bio {
    line-height: 1.5rem;
  }
  main .container-card .wrapper-card .container-middle .container-bottom .left .bio p.name {
    font-size: 1.15em;
  }
  main .container-card .wrapper-card .container-middle .container-bottom .left .bio p.dob {
    font-size: 1.2em;
  }
  main .container-card .wrapper-card .container-middle .container-bottom .right {
    width: 35px;
    height: 35px;
  }
  main .container-card .wrapper-card .container-middle .container-bottom .container-shared .hidden {
    width: 100%;
    height: 80px;
    padding: 1rem 2rem;
    background-color: var(--VeryDarkGrayishBlue);
  }
  main .container-card .wrapper-card .container-middle .container-bottom .container-shared .hidden .container-left .share p {
    font-size: 1.25em;
    letter-spacing: 0.5rem;
  }
  main .container-card .wrapper-card .container-middle .container-bottom .container-shared .hidden .container-left .social-media img {
    width: 21px;
  }
  main .container-card .wrapper-card .container-middle .container-bottom .container-shared .hidden .container-left .social-media img.twitter {
    margin: 0 1rem;
  }
  main .container-card .wrapper-card .container-middle .container-bottom .container-shared .hidden .container-right {
    width: 35px;
    height: 35px;
  }
}

@media only screen and (min-width: 800px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .container-card {
    width: 800px;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .container-card .wrapper-card {
    width: 750px;
    position: relative;
    -ms-grid-columns: 320px 1fr;
        grid-template-columns: 320px 1fr;
    overflow: unset;
  }
  main .container-card .wrapper-card .container-img-card {
    width: 100%;
    height: 100%;
  }
  main .container-card .wrapper-card .container-img-card img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
  }
  main .container-card .wrapper-card .container-middle {
    padding-top: 2rem;
    position: unset;
  }
  main .container-card .wrapper-card .container-middle .title h1 {
    font-size: 1.6em;
  }
  main .container-card .wrapper-card .container-middle .desc p {
    font-size: 1em;
  }
  main .container-card .wrapper-card .container-middle .container-bottom .container-shared .hidden {
    width: 270px;
    height: 65px;
    -ms-grid-columns: (max-content)[1];
        grid-template-columns: repeat(1, -webkit-max-content);
        grid-template-columns: repeat(1, max-content);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 0.7rem;
    top: 150px;
    left: 550px;
    -webkit-box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
    z-index: 2;
  }
  main .container-card .wrapper-card .container-middle .container-bottom .container-shared .hidden .container-right {
    display: none;
  }
  main .container-card .wrapper-card .container-middle .container-bottom .container-shared .arrow-down {
    width: 0;
    height: 0;
    position: absolute;
    top: 210px;
    right: 30px;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-top: 18px solid var(--VeryDarkGrayishBlue);
  }
}
/*# sourceMappingURL=import.css.map */